cryptography==2.1.4
keyring==10.6.0
numpy==1.13.3
importlib_metadata==1.7.0
zipp==3.1.0
typing_extensions==3.7.4.3
opencv_python==4.4.0.44
brotli==1.0.9
Cython==0.29.21
docutils==0.16
Flask==1.1.2
imutils==0.5.3
ipaddr==2.2.0
lockfile==0.12.2
lxml==4.6.2
mypy_extensions==0.4.3
ordereddict==1.1
protobuf==3.14.0
pyOpenSSL==20.0.1
wincertstore==0.2
